.ATM img{
    margin-right: 10px;
    width: 35px;
    height: 25px;
}
.ATM {
    display: flex;
    margin-top: 10px;
}
.text-footer-1 {
    font-size: 10px;
    margin: 25px;
    margin-top: 55px;
}
.text1 span{
    padding-top: 10px;
}
.container{
    margin: 0 auto;
}
.box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer2 */
.box-footer-2{
    display: flex;
    background-color: #F8F8F8;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
h3{
    font-size: 13px;
}